*{
 margin: 0;
 padding: 0;
 border: none;
}
img{
  display: flex;
  margin-left: 45%;
}
.h1i{
 margin-left: 30%;

}
.h1o{
  color: black;
  font-size: 20px;
  margin-left: 5%;
  text-align: center;
}

